/*eslint-env node*/
export const sessionSecret = process.env.SESSION_SECRET || 'Your Session Secret goes here'
export const apiSecret = 'SomeRandomAPISecret'
export const google = {
  clientID: process.env.GOOGLE_CLIENTID || '',
  clientSecret: process.env.GOOGLE_SECRET || '',
  callbackURL: process.env.GOOGLE_CALLBACK || '/auth/google/callback'
}

export const smtpHost = `<SMTP SERVER>`
export const smtpPort = <SMTP PORT>
export const smtpUsername = `<SMTP USERNAME`
export const smtpPassword = `<SMTP PASSWORD`
export const smtpAdmin = `admin@cmts.net`

